body {

}

.nav-container {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;

}

.video-container {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding-top: 100px;
}

.contact-info {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding-top: 50px;
}
