:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body{
  display: grid;
  /*grid-template-columns: repeat(8, 1fr); */
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: '. . . . . . . .'
                       '. . c c c c . .';
                       border: 1px;
                       border-style: solid;
}


#nav-bar ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  border: 1px;
  border-style: solid;
}
#nav-bar a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
.content {
  display: grid;
  grid-area: c;

  align-self: ce;
  border: 1px;
  border-style: solid;
}
